.container_form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_wrabber {
  width: 480px;
  background-color: var(--container-bg);
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
}

.container-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

form {
  width: 100%;
}

form input {
  border: 1px solid var(--accent-color);
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

form input:focus {
  border-color: var(--accent-color);
}

button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: var(--el-bg);
  color: var(--container-bg);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
